body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
div {
	margin: auto;
}


.box-generic {
	border: 1px solid black;
	float: left;
	width: 450px;
	height: 300px;
	overflow: hidden;
	padding: 5px;
	margin: 5px;
}

.box-generic:hover {
	overflow: auto;
}

li {
	font-weight: bold;
}
li > p {
	font-weight: normal;
	padding-left: 10px;
}
#wrap {
	width: 950px;
	border: 1px solid black;
}
#wrap:before {
	clear: both;
}
#wrap:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
