body
{ font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
text-align:center;
}
div{
margin: auto;
}
li{
font-weight: bold;
}
li > p {
font-weight: normal;
padding-left: 10px;
}
.box-generic
{
border: 1px solid black;
padding:5px;
width: 47%;
overflow:scroll;
height: 150px;
float: left;
margin: 5px;
}
.newbox
{
border: 1px solid black;
padding:5px;
width: 47%;
overflow:scroll;
height: 400px;
float: left;
}
.main-wrap
{
margin: 0px auto;
width: 80%;
}
.clearfix:after {
   content: " "; 
   display: block;
   height: 0;
   clear: both;
}
.clearfix {
  display: inline-block;
}
.edossantos {
float: right;
}
.gh-pages {
float: right;
}
.WJD-001 {
float: right;
}
levfurtado {
float: right;
}
